*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button{
  padding: 10px 20px;
  border: none;
  background-color: #c60f0f;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}